#screen-manager {
	position: absolute;
	overflow: hidden;
}

.screen-container {

}

.shadow {
	webkit-box-shadow:  0px 4px 4px 0px rgba(55, 55, 55, 0.75);
	-moz-box-shadow:    0px 4px 4px 0px rgba(55, 55, 55, 0.75);
	box-shadow:         0px 4px 4px 0px rgba(55, 55, 55, 0.75);
}

.navigation-bar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 45px;

	background-color: #333;
	z-index: 100;
}

.text-button {
	font-family: 'Lucida Console', Monaco, monospace;
}

.nav-button {
	width: 15%;
	height: 30px;
	line-height: 26px;
	border-radius: 5px;
	text-align: center;
	color: #FFF;
	webkit-box-shadow: 2px 2px 2px 0px rgba(60, 60, 60, 0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(60, 60, 60, 0.75);
	box-shadow: 2px 2px 2px 0px rgba(60, 60, 60, 0.75);
}

#screen-manager .navigation-bar-btn-container {
	position: absolute;
	top: 7px;
	width: 100%;
	height: 100%;
	z-index: 102;
}

#nav-back-button {
	border: 2px solid #F33;
	float: left;
	margin-left: 2%;
	background-color: #F00;
}

#nav-done-button {
	border: 2px solid #62CC51;
	float: right;
	margin-right: 2%;
	background-color: #4FE24F;
}

#screen-manager .navigation-bar-label {
	position: absolute;
	width: 100%;
	height: 100%;	

	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

#screen-manager .navigation-bar-label-container {
	position: absolute;
	width: 100%;
	height: 100%;

	top: 11px;
}
/** ------------------ Startup Screen ---------------- **/
#startup-screen > div.logo {
	position: absolute;
	top: 10%;
	left: 0%;
	width: 100%;
	height: 16%;
	font-size: 2.7em;
	text-align: center;
	font-family: 'Comic Sans MS';
	color: #FFF;
}

#startup-screen > div.options {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 70px;
}

#startup-screen-start-game-button {
	position: absolute;
	left: 20%;
	width: 60%;
	height: 100%;
	border-radius: 50px;
	border: 5px solid #1CA;
	background-color: #1AF;
	color: #FFF;
	font-size: 45px;
	text-align: center;
	line-height: 60px;
}

#startup-screen > div.about {
	position: absolute;
	top: 69%;
	width: 100%;
	color: #DDD;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#startup-screen > div.about > span.about-detail {
	display: inherit;
	width: 100%;
	text-align: center;
}

#startup-screen > div.about .about-name {
	font-size: 1.3em;
}

#startup-screen > div.about .about-label {
	font-size: 0.8em;
	color: #BBB;
	margin-top: 10px;
}

/** ------------------ Pie Screen ---------------- **/
#player-pie {
	position: absolute;
	top: 40px;
}

/** ------------------ Add item screen ---------------- **/
.element-screen {
	position: absolute;
	top: 65px;
}

.add-item-screen > div.add-item-container {
	position: relative;
	width: 100%;
	height: 100px;
}

.edit-box-input {
	float: left;
	margin-left: 5%;
	width: 65%;
	height: 70px;
	border-radius: 7px;
	border: 3px solid #23AFAF;
	background-color: #166E67;
	color: #FFF;
	font-size: 16px;
	-webkit-user-modify: read-write-plaintext-only;
}

.edit-box-set-btn {
    float: right;
	margin-right: 5%;
	background-color: #333;
	width: 65px;
	height: 65px;
	border-radius: 35px;
}

.edit-box-set-btn.add:before {
    content: "\f067";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #4FE24F;
	font-size: 50px;
	padding-right: 0.5em;
	position: relative;
	top: 9px;
	left: 12px;
}

.edit-box-set-btn.save:before {
    content: "\f00c";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #4FE24F;
	font-size: 50px;
	padding-right: 0.5em;
	position: relative;
	top: 9px;
	left: 8px;
}

#scrollable-item-list-add-item-screen {
	position: absolute;
	z-index: 1;
	top: 100px;
	height: 57%;
	left: 10%;
	right: 7%;
	background: #C5338B;
	overflow: hidden;
}

.item-mark {
	width: 17px;
	height: 17px;
	position: relative;
	top: 4px;
	left: 7px;
	border-radius: 8px;
	background-color: brown;
}

.item-mark:before {
    content: "\f00d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #FFF;
	font-size: 14px;
	padding-right: 0.5em;
	position: absolute;
	top: 1px;
	left: 3px;
}

.content-container {
	position: relative;
	top: -15px;
	left: 30px;
	width: 100%;
	height: 100%;
	color: #FFF;
	font-size: 16px;
	font-family: 'Comic Sans MS';
}

.overlap-container {
	position: relative;
	top: -42px;
	left: 139px;
	width: 46%;
	height: 100%;

	border-radius: 30px;
}

.add-players-screen .scroller li {
	background-color: #13A4C9;
}

.add-truths-screen .scroller li {
	background-color: #FF8500;
}

.add-dares-screen .scroller li {
	background-color: #38A51D;
}

/** ------------------ Player pie screen ---------------- **/

#player-pie .pie-container {
	position: absolute;
	top: 10px;
	left: 86px;
}

#player-pie .pie-players-container {
	position: absolute;
	top: 164px;
	left: 15px;
	right: 0px;
	height: 48%;
}

#scrollable-item-list-pie-players {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*
#scrollable-item-list-pie-players .scroller li {
	background-color: #333;
}*/

.pie-indicator {
	position: absolute;
	top: -8px;
	left: 69px;
	z-index: 1;
}

.pie-indicator:before {
    content: "\f175"; /*\f063"*/;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	font-size: 25px;
	padding-right: 0.5em;
}

/** ------------------ Overlay screen ---------------- **/

#overlay-screen {
	background-color: rgba(0, 0, 0, 0.7);
}

#overlay-screen .overlay-screen-container {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 60%;
	background-color: #2876BE;
	border: 7px solid #FFF;
	border-radius: 15px;
}

#overlay-screen .overlay-screen-player-info-container {
	position: absolute;
	width: 100%;
	height: 20%;
	background-color: #A31717;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#overlay-screen > div > div.overlay-screen-player-info-container > div.overlay-screen-player-icon {
	position: absolute;
	top: 4px;
	left: 7px;
	width: 22%;
	height: 85%;
}

#overlay-screen > div > div.overlay-screen-player-info-container > div.overlay-screen-player-icon:before {
	content: "\f113"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #FFF;
    font-size: 43px;
}

#overlay-screen > div > div.overlay-screen-player-info-container.shadow > div.overlay-screen-player-info {
	position: absolute;
	top: 12px;
	left: 56px;
	width: 75%;
	height: 55%;
	font-size: 20px;
	color: #FFF;
	font-family: 'Comic Sans MS';
	overflow: hidden;
	white-space: nowrap;
}

#overlay-screen > div > div.overlay-screen-content-container {
	position: absolute;
	top: 22%;
	width: 100%;
	height: 45%;
}

#overlay-screen > div > div.overlay-screen-content-container > div.overlay-screen-content-icon {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}


#overlay-screen .question-icon {
	background-color: #333;
}

#overlay-screen .question-icon:before {
	content: "\f128"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #FFF;
    font-size: 43px;

    position: absolute;
	top: 4px;
	left: 11px;
}

#overlay-screen .truth-icon {
	background-color: #18A018;
}

#overlay-screen .truth-icon:before {
	content: "\f118"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #FFF;
    font-size: 43px;

    position: absolute;
	top: 3px;
	left: 7px;
}

#overlay-screen .dare-icon {
	background-color: #C51010;
}

#overlay-screen .dare-icon:before {
	content: "\f119"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #FFF;
    font-size: 43px;

    position: absolute;
	top: 3px;
	left: 7px;
}

#overlay-screen .overlay-screen-button-container {
	position: absolute;
	width: 100%;
	height: 65px;
	bottom: 10%;
}

#overlay-screen .overlay-screen-btn {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 32px;
}

#overlay-screen .overlay-screen-btn:before {
    color: #FFF;
    font-size: 52px;
	position: absolute;
	top: 6px;
	left: 10px;
}

#overlay-screen .overlay-screen-button-container .overlay-screen-btn.overlay-screen-yes-btn {
	right: 20px;
}

#overlay-screen .yes-icon {
	background-color: #18A018;
}

#overlay-screen .yes-icon:before {
	content: "\f118";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

#overlay-screen .overlay-screen-button-container .overlay-screen-btn.overlay-screen-no-btn {
	left: 20px;
}

#overlay-screen .no-icon {
	background-color: #C51010;
}

#overlay-screen .no-icon:before {
	content: "\f119"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

/*#overlay-screen .overlay-screen-button-container .overlay-screen-btn.overlay-screen-check-btn {
	left: 40%;
}
*/
#overlay-screen .check-icon {
	background-color: #18A018;
}

#overlay-screen .check-icon:before {
	content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    left: 7px;
}

#overlay-screen > div > div.overlay-screen-content-container > div.overlay-screen-content-wrapper {
	position: absolute;
	top: 5px;
	left: 60px;
	width: 70%;
	height: 100%;
	font-size: 16px;
	font-family: cursive;
	color: #FFF;
	word-wrap: break-word;
	overflow: hidden;
}

#overlay-screen > div > div.overlay-screen-content-container > div.overlay-screen-content-wrapper.scroller > div {
	position: absolute;
	width: 100%;
	height: 100%;
	
}